.ant-layout-header,
.ant-layout-content,
.ant-layout-footer {
  min-width: 800px;
}

.ant-layout-content {
  background: #fff;
  padding: 24px;
  min-height: calc(100vh - 134px) !important;
}

.logo {
  width: 120px;
  height: 40px;
  margin-top: 12px;
  margin-right: 20px;
  float: left;
}

.menu-right {
  float: right;
}

.ant-card-body {
  display: none;
}

.wrapper-form {
  min-height: calc(100vh - 194px) !important;
  justify-content: center;
  align-items: center;
  display: flex;
}

.wrapper-form .login-form {
  width: 300px;
}

.login-form-button {
  width: 100%;
}

.ant-tooltip-inner {
  display: none;
}

.ant-form-item-control-input .btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border: none;
  padding: 4px 10px;
  margin-right: 8px;
}

.ant-form-item-control-input .btn-facebook:hover {
  color: #fff;
  background-color: #23345a;
}

.ant-form-item-control-input .btn-google {
  color: #fff !important;
  background-color: #dd4b39 !important;
  box-shadow: none !important;
  padding: 4px 10px !important;
}

.ant-form-item-control-input .btn-google span {
  padding: 0 !important;
}

.ant-form-item-control-input .btn-google:hover {
  color: #fff !important;
  background-color: #c23321 !important;
}
