.ant-layout-content {
  background: #fff;
  padding: 24px;
  min-height: calc(100vh - 134px) !important;
}

.logo {
  width: 120px;
  height: 40px;
  margin-top: 12px;
  float: left;
}

.menu-right {
  float: right;
}
