.ant-layout-header,
.ant-layout-content,
.ant-layout-footer {
  min-width: 800px;
}

.ant-layout-content {
  background: #fff;
  padding: 24px;
  min-height: calc(100vh - 134px) !important;
}

.logo {
  width: 120px;
  height: 40px;
  margin-top: 12px;
  margin-right: 20px;
  float: left;
}

.menu-right {
  float: right;
}

.ant-card-body {
  display: none;
}

.wrapper-form {
  min-height: calc(100vh - 194px) !important;
  justify-content: center;
  align-items: center;
  display: flex;
}

.wrapper-form .login-form {
  width: 300px;
}

.login-form-button {
  width: 100%;
}
